<!doctype html>
<html lang="en">
  <head>
	  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mysite</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mysite/css/bootstrap.min.css' %}" rel="stylesheet" >
    <!-- Custom fonts for this template -->
    <link href="{% static 'blog/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block link %}{% endblock %}
  </head>

  <body class="{{body_color|default:"bg-white"}}">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top flex-row" id="mainNav">
      <a class="navbar-brand" href="{% url 'home' %}">Mysite</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'note' %}">Note</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'dic' %}">Dictionary</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'download' %}">Download</a>
         </li>
         <li>
           <a class="navbar-brand" href="{% url 'signin_page' %}" style="display:{{sign_display|default:"none"}};">SIGNIN</a>
           <div class="dropdown " style="display:{{person_info_display|default:"block"}}">
             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
             <div class="dropdown-menu dropdown-menu-right" >
               <a class="dropdown-item" href="{% url 'help' %}">help</a>
               <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
               <a class="dropdown-item" href="{% url 'sign_out' %}">Sign Out</a>
             </div>
           </div>
         </li>
        </ul>
      </div>
  </nav>

    {% block content %}{% endblock %}

    <footer class="footer text-center mt-5">
      <h5>@ 2019 All rights reserved.</h5>
    </footer>

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'mysite/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
    {% block load_js %}
    {% endblock %}
    </body>
</html>
