<!doctype html>
<html lang="en">
  <head>
	  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mysite</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mysite/css/bootstrap.min.css' %}" rel="stylesheet" >
    {% block link %}{% endblock %}
  </head>

  <body class="bg-light">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Mysite</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'note' %}">Note</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'dic' %}">Dictionary</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
         </li>
        </ul>
      </div>
    </div>
  </nav>

    {% block content %}{% endblock %}

    <footer class="footer text-center mt-5">
    @ 2019 All rights reserved.
    </footer

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'mysite/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    {% block load_js %}
    {% endblock %}
    </body>
</html>
