{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "mysite/img/download.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Download</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div>
            <h2>common toos and configuration</h2>
            <ul>
              <li><a href="{% static 'mysite/resource/_vimrc' %}" download>vim configuration file</a></li>
              <li><a href="{% static 'mysite/resource/vim8.1.0139-x64.exe' %}" download>gvim-windows</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock content %}

