{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "mysite/img/download.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Download</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div>
            <h2>common tools and configuration</h2>
            <ul>
              <li><a href="{% static 'mysite/resource/_vimrc' %}" download>vim configuration file</a></li>
              <li><a href="{% static 'mysite/resource/vim8.1.0139-x64.exe' %}" download>gvim-windows</a></li>
              <li><a href="{% static 'mysite/resource/aws-tokyo.pem' %}" download>aws</a></li>
            </ul>
            <h2>my document collections</h2>
            {% if doc_list %}
              {% for doc in doc_list %}
              <div class="accordion"">
                <div class="card">
                  <div class="card-header"">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{doc.name}}" aria-expanded="false">
                        {{doc.name}}
                      </button>
                    </h2>
                  </div>
                  <div id="{{doc.name}}" class="collapse">
                    <div class="card-body">
                      <ul>
                        {% for subdir_file in doc.subdir_files %}
                        <li><a href="{%static subdir_file.urlpath %}">{{subdir_file.name}}</a></li>
                        {% endfor%}
                      </ul>
                    </div>
                  </div>
                </div>           
              </div>
              {% endfor %}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock content %}

