{% extends "base.html" %}
{% load static %}

{% block link %}
  <!-- Custom fonts for this template -->
  <link href="{% static 'blog/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% block blog_content %}
  {% endblock blog_content %}
{% endblock content %}
{% block load_js %}
<script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
{% endblock load_js %}

