{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "mysite/img/post-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Mysite's Statement</h1>
            <span class="subheading">A site serves for zhang-xiaode</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>My Note</h1>
          <div>
            {% if video_list%}
              <ul>
              {% for section in video_list %}
              <div class="accordion"">
                <div class="card">
                  <div class="card-header"">
                    <h2 class="mb-0">
                      <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#{{section.section}}" aria-expanded="false">
                        {{section.section}}
                      </button>
                    </h2>
                  </div>
                  <div id="{{section.section}}" class="collapse">
                    <div class="card-body">
                      <ul>
                        {% for episode in section.episode %}
                        <li><a href="{%static episode.urlpath %}">{{episode.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>           
              </div>
              {% endfor %}
              </ul>
            {% endif %}
        </div>
      </div>
    </div>
  </article>

{% endblock %}
